TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
HOT_MD_PATH=/Users/artem/Claude v 1.0/hot.md
PROJECT_CURRENT_PATH=/Users/artem/.claude/projects/-Users-artem-Claude-v-1-0/memory/project_current.md
USER_PROFILE_PATH=/Users/artem/.claude/projects/-Users-artem-Claude-v-1-0/memory/user_profile.md
CLICKUP_TOKEN=
CLICKUP_TEAM_ID=90151316962
